In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
#nypdMotor = pd.read_csv(os.getenv("PUIDATA") + 
                 #"NYPD_Motor_Vehicle_Collisions.csv")

In [3]:
nypdMotor = pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv")

/Applications/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
nypdMotor.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [6]:
nypdMotor = nypdMotor[['DATE','BOROUGH','NUMBER OF PERSONS INJURED',
                       'NUMBER OF PEDESTRIANS INJURED',
                       'NUMBER OF CYCLIST INJURED',
                       'NUMBER OF MOTORIST INJURED',
                       'LATITUDE','LONGITUDE']]
nypdMotor.head()

,DATE,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF CYCLIST INJURED,NUMBER OF MOTORIST INJURED,LATITUDE,LONGITUDE
0,11/10/2017,BRONX,0,0,0,0,40.824295,-73.909450
1,11/10/2017,BROOKLYN,0,0,0,0,40.597270,-73.998680
2,11/10/2017,QUEENS,0,0,0,0,40.744686,-73.916504
3,11/10/2017,NaN,0,0,0,0,40.861923,-73.893570
4,11/10/2017,NaN,0,0,0,0,40.832090,-73.889800

In [7]:
nypdMotor.columns = ['Date','Borough','Number Injured',
                     'Pedestrians Injured','Cyclist Injured',
                     'Motorist Injured','Latitude','Longitude']

In [8]:
nypdMotor.head()

,Date,Borough,Number Injured,Pedestrians Injured,Cyclist Injured,Motorist Injured,Latitude,Longitude
0,11/10/2017,BRONX,0,0,0,0,40.824295,-73.909450
1,11/10/2017,BROOKLYN,0,0,0,0,40.597270,-73.998680
2,11/10/2017,QUEENS,0,0,0,0,40.744686,-73.916504
3,11/10/2017,NaN,0,0,0,0,40.861923,-73.893570
4,11/10/2017,NaN,0,0,0,0,40.832090,-73.889800

In [9]:
nypdMotor['Date'] = pd.to_datetime(nypdMotor['Date'])

KeyboardInterrupt:

In [ ]:
nypdMotor.head()

#drop rows that are 0

nypdMotor = nypdMotor[nypdMotor['Number Injured'] > 0]
nypdMotor = nypdMotor[nypdMotor['Pedestrians Injured'] > 0]
nypdMotor = nypdMotor[nypdMotor['Cyclist Injured'] > 0]
nypdMotor = nypdMotor[nypdMotor['Motorist Injured'] > 0]

nypdMotor.head()

# Make borough names camel case
nypdMotor.Borough = nypdMotor.Borough.replace('MANHATTAN','Manhattan')
nypdMotor.Borough = nypdMotor.Borough.replace('BROOKLYN','Brooklyn')
nypdMotor.Borough = nypdMotor.Borough.replace('QUEENS','Queens')
nypdMotor.Borough = nypdMotor.Borough.replace('BRONX','Bronx')
nypdMotor.Borough = nypdMotor.Borough.replace('STATEN ISLAND','Staten Island')

nypdMotor.head()

# drop all rows with NaN

nypdMotor.dropna(how = 'any')

nypdMotor.Borough == ['Manhattan'].sum()

#nypdMotor = nypdMotor.reset_index().dropna().set_index('Borough')
#nypdMotor.head()

#figure = figsize(15,10)
nypdMotor.plot(kind='bar')
plt.ylabel("Number Injured")
plt.xlabel("Borough")
plt.title("Number of people injured")