In [1]:
from __future__ import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline

import os

#this makes my plots pretty! but it is totally not mandatory to do it
import json


#plus importing scipy.stats
import scipy.stats

Populating the interactive namespace from numpy and matplotlib

In [2]:
data1 = pd.read_csv("World firearms murders and ownership - google.csv")
data1.head()

,Country/Territory,ISO code,Source,% of homicides by firearm,Number of homicides by firearm,"Homicide by firearm rate per 100,000 pop",Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms
0,Albania,AL,CTS,65.9,56.0,1.76,70.0,8.6,270000.0
1,Algeria,DZ,CTS,4.8,20.0,0.06,78.0,7.6,1900000.0
2,Angola,AO,NaN,NaN,NaN,NaN,34.0,17.3,2800000.0
3,Anguilla,AI,WHO-MDB,24.0,1.0,7.14,NaN,NaN,NaN
4,Argentina,AR,Ministry of Justice,52.0,1198.0,3.02,62.0,10.2,3950000.0

In [3]:
data2 = pd.read_csv("data-pvLFI.csv")
data2.head()

     Country  Guns/100 inhabitants  Number of mass shootings
0  Australia                  15.0                         4
1    Austria                  30.4                         1
2   Beligium                  17.2                         2
3     Canada                  30.8                         4
4    Denmark                  12.0                         0

In [4]:
data3 = pd.read_csv("worldpopulation.csv")
data3.head()

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 62