In [1]:
from __future__ import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline

import os

#this makes my plots pretty! but it is totally not mandatory to do it
import json


#plus importing scipy.stats
import scipy.stats

Populating the interactive namespace from numpy and matplotlib

In [35]:
df_gun = pd.read_csv("World firearms murders and ownership - Sheet 1.csv")
df_gun = df_gun[["Country/Territory","Average total all civilian firearms",
                 "Number of homicides by firearm"]]
df_gun.rename(columns={'Country/Territory': 'Country'},inplace = True)
df_gun.head()

,Country,Average total all civilian firearms,Number of homicides by firearm
0,Albania,270000.0,56.0
1,Algeria,1900000.0,20.0
2,Angola,2800000.0,NaN
3,Anguilla,NaN,1.0
4,Argentina,3950000.0,1198.0

In [3]:
df_ms = pd.read_csv("data-pvLFI.csv")
df_ms.head()

     Country  Guns/100 inhabitants  Number of mass shootings
0  Australia                  15.0                         4
1    Austria                  30.4                         1
2   Beligium                  17.2                         2
3     Canada                  30.8                         4
4    Denmark                  12.0                         0

In [29]:
df_pop = pd.read_csv("API_SP.POP.TOTL_DS2_en_csv_v2.csv",skiprows=(0,2))
df_pop = df_pop[["Country Name","2012"]]
df_pop.rename(columns={'2012': 'pop'},inplace = True)
df_pop.head()

  Country Name         pop
0        Aruba    102577.0
1  Afghanistan  30696958.0
2       Angola  25096150.0
3      Albania   2900401.0
4      Andorra     82431.0

In [30]:
df_gdp = pd.read_csv("API_NY.GDP.MKTP.CD_DS2_en_csv_v2.csv", skiprows=(0,2))
df_gdp = df_gdp[["Country Name","2012"]]
df_gdp.rename(columns={'2012': 'gdp'},inplace = True)
df_gdp.head()

  Country Name           gdp
0        Aruba           NaN
1  Afghanistan  2.053654e+10
2       Angola  1.153984e+11
3      Albania  1.231978e+10
4      Andorra  3.146152e+09

In [37]:
df_merge = df_pop.merge(df_gdp)
df_merge.head()

  Country Name         pop           gdp
0        Aruba    102577.0           NaN
1  Afghanistan  30696958.0  2.053654e+10
2       Angola  25096150.0  1.153984e+11
3      Albania   2900401.0  1.231978e+10
4      Andorra     82431.0  3.146152e+09

In [43]:
df = df_gun.merge(df_merge.merge(df_ms, right_on="Country", left_on="Country Name")
df.head()

SyntaxError: invalid syntax (<ipython-input-43-c6a356b79085>, line 2)