In [2]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os

%pylab inline
pl.rcParams.update(s)

Populating the interactive namespace from numpy and matplotlib

NameError: name 's' is not defined

# Idea: 

## On average, men takes trips that are shorter


# Null Hypothesis:

## The average trip length for males is shorter than the average trip length for females


# Alternative Hypothesis: 

## The average trip length for males is longer than the average trip length for females

# significance level  $\alpha=0.05$

In [3]:
PUIDATA = os.getenv("PUIDATA")
print(PUIDATA)

/home/cusp/ep2247/PUIdata

In [4]:
datestring = '201707'

In [5]:
df = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')
df['startdate'] = pd.to_datetime(df['starttime'])
df['enddate'] = pd.to_datetime(df['stoptime'])
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,enddate
0,340,2017-07-01 00:00:08,2017-07-01 00:05:48,3186,Grove St PATH,40.719586,-74.043117,3267,Morris Canal,40.712419,-74.038526,29643,Subscriber,1994.0,2,2017-07-01 00:00:08,2017-07-01 00:05:48
1,439,2017-07-01 00:02:35,2017-07-01 00:09:55,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,29585,Subscriber,1980.0,1,2017-07-01 00:02:35,2017-07-01 00:09:55
2,186,2017-07-01 00:04:33,2017-07-01 00:07:40,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,29219,Subscriber,1984.0,1,2017-07-01 00:04:33,2017-07-01 00:07:40
3,442,2017-07-01 00:05:53,2017-07-01 00:13:15,3195,Sip Ave,40.730743,-74.063784,3193,Lincoln Park,40.724605,-74.078406,29497,Subscriber,1969.0,1,2017-07-01 00:05:53,2017-07-01 00:13:15
4,170,2017-07-01 00:07:54,2017-07-01 00:10:45,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1986.0,1,2017-07-01 00:07:54,2017-07-01 00:10:45

In [6]:
df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                        float64
gender                              int64
startdate                  datetime64[ns]
enddate                    datetime64[ns]
dtype: object

In [7]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'startdate', 'enddate'],
      dtype='object')

In [8]:
df.drop(['start station id','starttime','stoptime', 'start station name',
         'start station latitude', 'start station longitude', 'end station id',
         'end station name', 'end station latitude', 'birth year', 'end station longitude',
         'bikeid', 'usertype'], axis=1, inplace=True)

In [9]:
df.head()

   tripduration  gender           startdate             enddate
0           340       2 2017-07-01 00:00:08 2017-07-01 00:05:48
1           439       1 2017-07-01 00:02:35 2017-07-01 00:09:55
2           186       1 2017-07-01 00:04:33 2017-07-01 00:07:40
3           442       1 2017-07-01 00:05:53 2017-07-01 00:13:15
4           170       1 2017-07-01 00:07:54 2017-07-01 00:10:45

In [10]:
df['startdate'] = df['startdate'].dt.date

In [11]:
male_df = df[df.gender == 1]

In [12]:
male_df.head()

   tripduration  gender   startdate             enddate
1           439       1  2017-07-01 2017-07-01 00:09:55
2           186       1  2017-07-01 2017-07-01 00:07:40
3           442       1  2017-07-01 2017-07-01 00:13:15
4           170       1  2017-07-01 2017-07-01 00:10:45
5           189       1  2017-07-01 2017-07-01 00:11:16

In [13]:
female_df = df[df.gender == 2]

In [14]:
female_df.head()

    tripduration  gender   startdate             enddate
0            340       2  2017-07-01 2017-07-01 00:05:48
6            421       2  2017-07-01 2017-07-01 00:16:04
12           322       2  2017-07-01 2017-07-01 00:42:15
15           843       2  2017-07-01 2017-07-01 01:00:29
17           399       2  2017-07-01 2017-07-01 00:56:54

In [15]:
female_trip =female_df['tripduration'].mean() / 60
female_trip

11.09519754292894

In [16]:
male_trip =male_df['tripduration'].mean() / 60
male_trip

9.5312124069549817

In [20]:
female_df.dtypes

tripduration             int64
gender                   int64
startdate               object
enddate         datetime64[ns]
dtype: object

In [35]:
#female_df.startdate.str.replace('-',' ')

In [36]:
female_df.dtypes

tripduration             int64
gender                   int64
startdate               object
enddate         datetime64[ns]
dtype: object

In [37]:
male_df.dtypes

tripduration             int64
gender                   int64
startdate               object
enddate         datetime64[ns]
dtype: object

In [38]:
# plot female trip time

In [39]:
#pl.figure(figsize=(10, 10))


#pl.bar(female_df['startdate'],female_df['tripduration'] / 60)
#pl.xlabel('date', fontsize = 18)
#pl.ylabel('average trip length', fontsize = 18)

In [40]:
# plot male trip time

In [45]:

fig = pl.figure(figsize(15,15))

(female_df['startdate']female_df['tripduration'].groupby([female_df['startdate'].dt.weekday]).count().plot(
    kind="bar", color='SteelBlue', label='female'))

#instad of plotting with matplotlib i.e. plot() i use the plot method in pandas
#norm_w = 1
#((df['date'][df['gender'] == 2].groupby([df['date'].dt.weekday]).count()) / norm_w)
#.plot(kind="bar", color='IndianRed', label='female')

#norm_m = 1
#ax = ((df['date'][df['gender'] == 1].groupby([df['date'].dt.weekday]).count()) / norm_m)
#.plot(kind="bar", color='SteelBlue', alpha=0.5, label='male')

#tmp = ax.xaxis.set_ticklabels(['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'], fontsize=20)
#pl.legend()

SyntaxError: invalid syntax (<ipython-input-45-b89b75cd16de>, line 4)