In [5]:
from __future__ import print_function
import numpy as np
import matplotlib.pylab as pl
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Null: 
### new average bus route time is the same or longer as the old bus route time

$H_0$ : ${NewMean{\mathrm{bustrip}}} >= {OldMean{\mathrm{bustrip}}}$



## Alternative: 
### the average bus route time is shorter than the old average bus route time

$H_1$ : ${NewMean{\mathrm{bustrip}}} < {OldMean{\mathrm{bustrip}}}$

$\alpha=0.05$

In [48]:
df = pd.read_csv('https://raw.githubusercontent.com/fedhere/PUI2017_fb55/master/Lab3_fb55/times.txt',header=None)
df.head()

           0
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [49]:
df = pd.read_csv('times.txt',header=None).values
df

array([[ 31.62223931],
       [ 32.82137636],
       [ 30.2291014 ],
       [ 31.41376587],
       [ 39.01055035],
       [ 34.82207891],
       [ 39.87188366],
       [ 39.57994562],
       [ 31.02658678],
       [ 27.66246068],
       [ 18.8752884 ],
       [ 46.2313731 ],
       [ 30.01522604],
       [ 47.6004104 ],
       [ 16.52726666],
       [ 42.4462331 ],
       [ 33.62527449],
       [ 42.28462558],
       [ 46.20520667],
       [ 30.87517392],
       [ 32.94800341],
       [ 26.17691512],
       [ 31.25699649],
       [ 35.33644554],
       [ 35.64072501],
       [ 40.32297174],
       [ 38.04348588],
       [ 29.4579793 ],
       [ 23.91636367],
       [ 34.56403521],
       [ 45.42782464],
       [ 38.95607754],
       [ 39.11396748],
       [ 39.67398759],
       [ 31.89148105],
       [ 22.62379325],
       [ 26.18910408],
       [ 43.54114213],
       [ 33.2607386 ],
       [ 31.67602384],
       [ 37.12846259],
       [ 38.22048496],
       [ 34.38814185],
       [ 36.11407371],
       [ 44.08064814],
       [ 29.59917161],
       [ 37.02411751],
       [ 41.60576556],
       [ 44.37860528],
       [ 38.06471077],
       [ 22.90526456],
       [ 40.27182857],
       [ 31.57979239],
       [ 25.88037795],
       [ 28.8913048 ],
       [ 44.33687925],
       [ 36.78948684],
       [ 43.46098875],
       [ 40.65557   ],
       [ 26.16634004],
       [ 25.13884784],
       [ 33.01581456],
       [ 32.87050073],
       [ 26.28557154],
       [ 39.44933037],
       [ 36.25528612],
       [ 40.719133  ],
       [ 40.57181545],
       [ 19.87166413],
       [ 43.21925286],
       [ 31.48102823],
       [ 37.14915056],
       [ 38.991504  ],
       [ 20.53059384],
       [ 27.80447692],
       [ 38.69933298],
       [ 30.0223142 ],
       [ 38.64884169],
       [ 26.40668884],
       [ 32.10224978],
       [ 28.31532754],
       [ 43.26195884],
       [ 40.3609407 ],
       [ 37.3025258 ],
       [ 31.45110181],
       [ 38.79599524],
       [ 36.92553372],
       [ 32.37167945],
       [ 23.25835631],
       [ 26.42613261],
       [ 48.74987653],
       [ 31.42512354],
       [ 46.80679298],
       [ 30.59748648],
       [ 20.7926322 ],
       [ 26.19785226],
       [ 42.7274097 ],
       [ 33.7314695 ],
       [ 37.23859057],
       [ 36.33984141]])

In [50]:
df = pd.read_csv('times.txt',header=None).values.shape
df

(100, 1)

In [51]:
tNew = pd.read_csv('times.txt',header=None).values.squeeze()
tNew

array([ 31.62223931,  32.82137636,  30.2291014 ,  31.41376587,
        39.01055035,  34.82207891,  39.87188366,  39.57994562,
        31.02658678,  27.66246068,  18.8752884 ,  46.2313731 ,
        30.01522604,  47.6004104 ,  16.52726666,  42.4462331 ,
        33.62527449,  42.28462558,  46.20520667,  30.87517392,
        32.94800341,  26.17691512,  31.25699649,  35.33644554,
        35.64072501,  40.32297174,  38.04348588,  29.4579793 ,
        23.91636367,  34.56403521,  45.42782464,  38.95607754,
        39.11396748,  39.67398759,  31.89148105,  22.62379325,
        26.18910408,  43.54114213,  33.2607386 ,  31.67602384,
        37.12846259,  38.22048496,  34.38814185,  36.11407371,
        44.08064814,  29.59917161,  37.02411751,  41.60576556,
        44.37860528,  38.06471077,  22.90526456,  40.27182857,
        31.57979239,  25.88037795,  28.8913048 ,  44.33687925,
        36.78948684,  43.46098875,  40.65557   ,  26.16634004,
        25.13884784,  33.01581456,  32.87050073,  26.28557154,
        39.44933037,  36.25528612,  40.719133  ,  40.57181545,
        19.87166413,  43.21925286,  31.48102823,  37.14915056,
        38.991504  ,  20.53059384,  27.80447692,  38.69933298,
        30.0223142 ,  38.64884169,  26.40668884,  32.10224978,
        28.31532754,  43.26195884,  40.3609407 ,  37.3025258 ,
        31.45110181,  38.79599524,  36.92553372,  32.37167945,
        23.25835631,  26.42613261,  48.74987653,  31.42512354,
        46.80679298,  30.59748648,  20.7926322 ,  26.19785226,
        42.7274097 ,  33.7314695 ,  37.23859057,  36.33984141])

In [52]:
tNew.mean()

34.466161688299998

In [53]:
tNewStdev = tNew.std()
tNewStdev

7.1015040681937771

In [54]:
np.mean(tNew) #this gives you the same number

34.466161688299998

In [55]:
tOldMean = 36.
tOldStdev = 6.

In [56]:
tOldMean - tNew.mean() #difference b/w the means

1.5338383117000021

In [57]:
# called the z test
(tOldMean - tNew.mean()) / tOldStdev #tells you how many standard dev from the mean

0.25563971861666701

In [58]:
# t test uses the standard dev of the sample
(tOldMean - tNew.mean()) / tNew.std()

0.21598781004291168

In [59]:
#sample has to be large enough to use z test, if small need to use the t test,
#if you know you can choose between the 2

In [60]:
# z = (pop mean - sample mean)/(sigma/sqrt(n))
#z = (tNew.mean() - tOldMean) / (tOldStdev / np.sqrt(100))
#z

In [61]:
#ztest = (tOldMean - tNew.mean())/(tNewStdev/ np.sqrt(100))
#ztest

# Z = $\frac{\mu_{pop} - \mu_{sample}}{\sigma / \sqrt{N}}$

In [62]:
ztest = (tOldMean - tNew.mean())/(tOldStdev/ np.sqrt(100))
ztest

2.5563971861666701

In [63]:
# 2.55 means its 2.55 standard deviations away from the mean

### $\alpha=0.05$

### We can reject the null hypothesis because the z-test had a result of 2.55, which is more than 2 standard deviations away from the mean because we set our significance threshold alpha of 0.05.